USE [CourierManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/9/2024 9:19:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IdNum] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [uniqueidentifier] NOT NULL,
	[Customer_Phone] [nvarchar](max) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Customer_Email] [nvarchar](max) NOT NULL,
	[Customer_City] [nvarchar](max) NOT NULL,
	[Customer_Address] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [uniqueidentifier] NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IdNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookups]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Serial] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [uniqueidentifier] NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Lookups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcel]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Parcel_ID] [uniqueidentifier] NOT NULL,
	[Parcel_Type] [nvarchar](max) NOT NULL,
	[Unit_Price] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[Final_Price] [float] NOT NULL,
	[DelivaryDate] [datetime2](7) NOT NULL,
	[Sender_ID] [uniqueidentifier] NOT NULL,
	[Receiver_ID] [uniqueidentifier] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [uniqueidentifier] NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [uniqueidentifier] NOT NULL,
	[TrackingNumber] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Discount] [float] NOT NULL,
	[Rider] [nvarchar](max) NULL,
 CONSTRAINT [PK_Parcel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceTable]    Script Date: 12/9/2024 9:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParcelType] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[CreateBy] [uniqueidentifier] NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[UpdateBy] [uniqueidentifier] NOT NULL,
	[BasePrice] [float] NOT NULL,
 CONSTRAINT [PK_PriceTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240921084150_create db', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240921135023_AddFirstNameLastName', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240921143055_CreateFirstNameLastName', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([IdNum], [Customer_ID], [Customer_Phone], [Customer_Name], [Customer_Email], [Customer_City], [Customer_Address], [Note], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (1, N'06d49495-725c-443e-a8b4-60f46f9034ab', N'01644988525', N'Samiul ', N'siam@siam.com', N'Dhaka', N'Uttara', N'N/A', CAST(N'2024-12-08T09:15:17.0214952' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-09T03:13:26.2886476' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe')
INSERT [dbo].[Customer] ([IdNum], [Customer_ID], [Customer_Phone], [Customer_Name], [Customer_Email], [Customer_City], [Customer_Address], [Note], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (2, N'029f35ef-de9d-4368-a0ca-b7b4c752e5eb', N'01988744562', N'Akash change', N'akash@akash.com', N'Savar', N'savar', N'N/A', CAST(N'2024-12-08T09:15:17.0214952' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-08T10:14:26.7515722' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe')
INSERT [dbo].[Customer] ([IdNum], [Customer_ID], [Customer_Phone], [Customer_Name], [Customer_Email], [Customer_City], [Customer_Address], [Note], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (3, N'5520d1ed-38a2-400d-9459-8bad952f2283', N'01988744256', N'Jony', N'jony@jony.com', N'Ctg', N'ctg', N'Handle with care', CAST(N'2024-12-08T15:18:15.4165614' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-08T15:26:33.4506552' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeId], [Name], [Address], [Phone], [Email]) VALUES (15, N'Samiul Alim', N'Uttara', N'01644077424', N'siamahmed64038@gmail.com')
INSERT [dbo].[Employee] ([EmployeId], [Name], [Address], [Phone], [Email]) VALUES (18, N'Jony Miya', N'Dhaka', N'01855744236', N'jony@jony.com')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Lookups] ON 

INSERT [dbo].[Lookups] ([Id], [Type], [Value], [Name], [IsActive], [Serial], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (32, N'ParcelType', N'Heavy', N'Heavy', 1, 2, CAST(N'2024-12-03T03:17:33.5979165' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-03T03:17:33.5979167' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe')
INSERT [dbo].[Lookups] ([Id], [Type], [Value], [Name], [IsActive], [Serial], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (33, N'ParcelType', N'Liquid', N'Liquid', 1, 3, CAST(N'2024-12-04T06:58:54.4066487' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-04T06:58:54.4066989' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe')
INSERT [dbo].[Lookups] ([Id], [Type], [Value], [Name], [IsActive], [Serial], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy]) VALUES (34, N'ParcelType', N'Light', N'Light', 1, 4, CAST(N'2024-12-04T06:59:12.7639333' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-04T06:59:12.7639334' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe')
SET IDENTITY_INSERT [dbo].[Lookups] OFF
GO
SET IDENTITY_INSERT [dbo].[Parcel] ON 

SET IDENTITY_INSERT [dbo].[Parcel] OFF
GO
SET IDENTITY_INSERT [dbo].[PriceTable] ON 

INSERT [dbo].[PriceTable] ([Id], [ParcelType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [BasePrice]) VALUES (1, N'Heavy', CAST(N'2024-12-04T07:29:07.3384815' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-04T07:29:07.3386102' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', 100)
INSERT [dbo].[PriceTable] ([Id], [ParcelType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [BasePrice]) VALUES (2, N'Liquid', CAST(N'2024-12-04T07:29:16.9118076' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-04T07:29:16.9118078' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', 80)
INSERT [dbo].[PriceTable] ([Id], [ParcelType], [CreateAt], [CreateBy], [UpdateAt], [UpdateBy], [BasePrice]) VALUES (3, N'Light', CAST(N'2024-12-04T07:29:25.0848087' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', CAST(N'2024-12-04T07:29:25.0848090' AS DateTime2), N'6e9cedd8-c0b7-454f-ba7e-2c8bb2532cfe', 50)
SET IDENTITY_INSERT [dbo].[PriceTable] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[Parcel] ADD  DEFAULT (N'') FOR [TrackingNumber]
GO
ALTER TABLE [dbo].[Parcel] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[Parcel] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [OrderDate]
GO
ALTER TABLE [dbo].[Parcel] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Discount]
GO
ALTER TABLE [dbo].[PriceTable] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
