﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to CMS Courier Management System.</p>
</div>
<ul>
    <li>
        <strong>Order Management</strong>
        <ul>
            <li>Take order.</li>
            <li><mark>Used Ajax, no relode on submit</mark></li>
            <li>
                Input phone number:
                <ul>
                    <li><mark>If the phone number is already stored in the database, it will show suggestions and auto-fill respective fields if clicked.</mark></li>
                </ul>
            </li>
            <li>Select weight in the parcel section.</li>
            <li>Select parcel type.</li>
            <li>
                Final price:
                <ul>
                    <li><mark>Calculated automatically.</mark></li>
                    <li>Input discount if needed; it will be adjusted in the final price.</li>
                </ul>
            </li>
            <li><mark>Order status after taking order: <em>Processing</em>.</mark></li>
            <li>
                In the Parcel table:
                <ul>
                    <li>View all orders.</li>
                    <li>Edit orders.</li>
                    <li><mark>Download PDF as an invoice or document to provide to customers.</mark></li>
                </ul>
            </li>
            <li><mark>If the parcel is <em>On the way</em> or <em>Delivered</em>, details cannot be edited.</mark></li>
            <li>
                Assign rider to deliver the parcel:
                <ul>
                    <li><mark>Status will change to <em>On the way</em>.</mark></li>
                </ul>
            </li>
            <li>
                In Shipments:
                <ul>
                    <li><mark>Mark a parcel as delivered; status will change to <em>Delivered</em>.</mark></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>Operations</strong>
        <ul>
            <li>
                Manage employees as riders:
                <ul>
                    <li>Add, update, or delete employees.</li>
                    <li><mark>Used Ajax, no relode in CRUD operation</mark></li>
                </ul>
            </li>
            <li>
                Manage cities and parcel types:
                <ul>
                    <li>Add, update, or delete cities and parcel types.</li>
                    <li>Cities and parcel types appear as dropdowns in <em>Take Orders</em>.</li>
                    <li><mark>Used Ajax, no relode in CRUD operation</mark></li>
                </ul>
            </li>
            <li>
                Manage prices:
                <ul>
                    <li>Add, update, or delete unit prices per parcel type.</li>
                    <li>Unit prices are used to calculate the final price.</li>
                    <li><mark>Used Ajax, no relode in CRUD operation</mark></li>
                </ul>
            </li>
            <li>
                Roles
                <ul>
                    <li>Super Admin has all access</li>
                    <li><mark>Admin has all access except Operations dropdown options</mark></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>Reports</strong>
        <ul>
            <li>
                All Consignmnets Report
            </li>
            <li>
                Employee Report
            </li>
            <li>
                All Customer Report
            </li>
        </ul>
    </li>
</ul>
