﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to CMS Courier Management System.</p>
</div>
<ul>
    <li>
        <strong>Order Management</strong>
        <ul>
            <li>Take order.</li>
            <li>
                Input phone number:
                <ul>
                    <li>If the phone number is already stored in the database, it will show suggestions and auto-fill respective fields.</li>
                </ul>
            </li>
            <li>Select weight in the parcel section.</li>
            <li>Select parcel type.</li>
            <li>
                Final price:
                <ul>
                    <li>Calculated automatically.</li>
                    <li>Input discount if needed; it will be adjusted in the final price.</li>
                </ul>
            </li>
            <li>Order status after taking order: <em>Processing</em>.</li>
            <li>
                In the Parcel table:
                <ul>
                    <li>View all orders.</li>
                    <li>Edit orders.</li>
                    <li>Download PDF as an invoice or document to provide to customers.</li>
                </ul>
            </li>
            <li>If the parcel is <em>On the way</em> or <em>Delivered</em>, details cannot be edited.</li>
            <li>
                Assign rider to deliver the parcel:
                <ul>
                    <li>Status will change to <em>On the way</em>.</li>
                </ul>
            </li>
            <li>
                In Shipments:
                <ul>
                    <li>Mark a parcel as delivered; status will change to <em>Delivered</em>.</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>Operations</strong>
        <ul>
            <li>
                Manage employees as riders:
                <ul>
                    <li>Add, update, or delete employees.</li>
                </ul>
            </li>
            <li>
                Manage cities and parcel types:
                <ul>
                    <li>Add, update, or delete cities and parcel types.</li>
                    <li>Cities and parcel types appear as dropdowns in <em>Take Orders</em>.</li>
                </ul>
            </li>
            <li>
                Manage prices:
                <ul>
                    <li>Add, update, or delete prices per parcel type.</li>
                    <li>Prices are used to calculate the final price.</li>
                </ul>
            </li>
            <li>
                Roles
                <ul>
                    <li>Super Admin has all access</li>
                    <li>Admin has all access except Operations dropdown options</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
